<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}

    <title>Firestone Bot Admin</title>
    {% endblock %}
</head>
<body>
<div class="container">
    <h1 class="display-4">Firestone Idle Bot <small>Admin Panel</small></h1>
    {% block navigation %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <!--        <a class="navbar-brand" href="#">Firestone_Idle_Bot</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ url_for('main.index') }}">Home</a>
                <a class="nav-item nav-link" href="{{ url_for('admin.list_active_bots') }}">Bot List</a>
                <a class="nav-item nav-link" href="{{ url_for('main.changelog') }}">CHANGELOG</a>
<!--                <a class="nav-item nav-link" href="#">Docs</a>-->
<!--                <a class="nav-item nav-link" href="#">Support</a>-->
            </div>
        </div>
        {% if current_user.is_authenticated %}
        <div class="dropdown">
            <a class="btn btn-outline-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Logged in as {{ current_user.username
                }}</a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{{ url_for('main.profile', username=current_user.username) }}">Profile</a>
                <a class="dropdown-item" href="{{ url_for('admin.post_changelog') }}">Post a Change</a>
                <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
            </div>
        </div>
        {% else %}
        <a class="btn btn-outline-light" href="{{ url_for('auth.login') }}">Login</a>
        {% endif %}
    </nav>
    {% endblock %}
    <div class="jumbotron">

        <h1>{% block page_title %}{% endblock %}</h1>
        <p class="lead">{% block page_lead %}{% endblock %}</p>
    </div>
    <!-- Your page content -->
    {% block content %}{% endblock %}
</div>
{% block scripts %}
<!-- Optional JavaScript -->
{{ bootstrap.load_js() }}
{% endblock %}
</body>
</html>