{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block page_title %}Keep a Changelog{% endblock %}
{% block page_lead %} A curated, chronologically ordered list of notable changes for each version.{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}

{% block content %}

<!--<a href="{{ url_for('admin.post_changelog') }}" class="btn btn-primary">Post a Change</a>-->

{% for post in posts %}

{% if post.change_type == "Added" %}
<p></p>
<div class="card">
    <h5 class="card-header bg-success">
        <b>{{ post.change_type }}</b> in <span class="badge badge-dark align-content-end">{{ post.version }}</span>
    </h5>
    <div class="card-body">
        <h5 class="card-title">{{ post.subject }}</h5>
        <p class="card-text">{{ post.markdown|safe }}</p>
        <span class="badge badge-light align-content-end">{{ moment(post.timestamp).fromNow() }}</span>
        {% if current_user.is_authenticated %}
        <p></p>
        <form action="{{ url_for('admin.edit_post',  post=post.id) }}" , method="post">
            <input class="btn btn-outline-secondary btn-sm float-left" type="submit" value="Edit">
        </form>
        <form action="{{ url_for('admin.delete_post',  post=post.id) }}" , method="post">
            <input class="btn btn-outline-secondary btn-sm float-right" type="submit" value="Delete">
        </form>
        {% endif %}
    </div>
</div>
<p></p>
{% endif %}

{% if post.change_type == "Changed" %}
<p></p>
<div class="card">
    <h5 class="card-header bg-warning">
        <b>{{ post.change_type }}</b> in <span class="badge badge-dark align-content-lg-end">{{ post.version }}</span>
    </h5>
    <div class="card-body">
        <h5 class="card-title">{{ post.subject }}</h5>
        <p class="card-text">{{ post.markdown|safe }}</p>
        <span class="badge badge-light align-content-end">{{ moment(post.timestamp).fromNow() }}</span>
        {% if current_user.is_authenticated %}
        <p></p>
        <form action="{{ url_for('admin.edit_post',  post=post.id) }}" , method="post">
            <input class="btn btn-outline-secondary btn-sm float-left" type="submit" value="Edit">
        </form>
        <form action="{{ url_for('admin.delete_post',  post=post.id) }}" , method="post">
            <input class="btn btn-outline-secondary btn-sm float-right" type="submit" value="Delete">
        </form>
        {% endif %}
    </div>
</div>
<p></p>
{% endif %}

{% if post.change_type == "Deprecated" %}
<p></p>
<div class="card">
    <h5 class="card-header bg-dark">
        <b>{{ post.change_type }}</b> in <span class="badge badge-dark align-content-lg-end">{{ post.version }}</span>
    </h5>
    <div class="card-body">
        <h5 class="card-title">{{ post.subject }}</h5>
        <p class="card-text">{{ post.markdown|safe }}</p>
        <span class="badge badge-light align-content-end">{{ moment(post.timestamp).fromNow() }}</span>
        {% if current_user.is_authenticated %}
        <p></p>
        <form action="{{ url_for('admin.edit_post',  post=post.id) }}" , method="post">
            <input class="btn btn-outline-secondary btn-sm float-left" type="submit" value="Edit">
        </form>
        <form action="{{ url_for('admin.delete_post',  post=post.id) }}" , method="post">
            <input class="btn btn-outline-secondary btn-sm float-right" type="submit" value="Delete">
        </form>
        {% endif %}
    </div>
</div>
<p></p>
{% endif %}

{% if post.change_type == "Removed" %}
<p></p>
<div class="card">
    <h5 class="card-header bg-danger">
        <b class="text-light">{{ post.change_type }}</b> in <span class="badge badge-dark align-content-lg-end">{{ post.version }}</span>
    </h5>
    <div class="card-body">
        <h5 class="card-title">{{ post.subject }}</h5>
        <p class="card-text">{{ post.markdown|safe }}</p>
        <span class="badge badge-light align-content-end">{{ moment(post.timestamp).fromNow() }}</span>
        {% if current_user.is_authenticated %}
        <p></p>
        <form action="{{ url_for('admin.edit_post',  post=post.id) }}" , method="post">
            <input class="btn btn-outline-secondary btn-sm float-left" type="submit" value="Edit">
        </form>
        <form action="{{ url_for('admin.delete_post',  post=post.id) }}" , method="post">
            <input class="btn btn-outline-secondary btn-sm float-right" type="submit" value="Delete">
        </form>
        {% endif %}
    </div>
</div>
<p></p>
{% endif %}

{% if post.change_type == "Fixed" %}
<p></p>
<div class="card">
    <h5 class="card-header bg-info">
        <b>{{ post.change_type }}</b> in <span class="badge badge-dark align-content-lg-end">{{ post.version }}</span>
    </h5>
    <div class="card-body">
        <h5 class="card-title">{{ post.subject }}</h5>
        <p class="card-text">{{ post.markdown|safe }}</p>
        <span class="badge badge-light align-content-end">{{ moment(post.timestamp).fromNow() }}</span>
        {% if current_user.is_authenticated %}
        <p></p>
        <form action="{{ url_for('admin.edit_post',  post=post.id) }}" , method="get">
            <input class="btn btn-outline-secondary btn-sm float-left" type="submit" value="Edit">
        </form>
        <form action="{{ url_for('admin.delete_post',  post=post.id) }}" , method="post">
            <input class="btn btn-outline-secondary btn-sm float-right" type="submit" value="Delete">
        </form>
        {% endif %}
    </div>
</div>
<p></p>
{% endif %}

{% endfor %}
{{ render_pagination(pagination, align='center') }}
{% endblock %}