{% extends 'bootstrap/base.html' %}

{% block title %}Currently Active Firestone Idle Bots{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Firestone Idle Bots<small><br>Activity Report</small></h1>
        </div>
    {% for active in alive %}
    <ul class="list-group">
        <li class="list-group-item"><b>Status:</b>
            {% if active.age == 'active' %}
            <span class="label label-success">Online</span><span class="badge">{{ moment(active.last_seen).fromNow() }}</span>
            {% endif %}
            {% if active.age == 'inactive' %}
            <span class="label label-danger">Offline</span><span class="badge">{{ moment(active.last_seen).fromNow() }}</span>
            {% endif %}
        </li>
        <li class="list-group-item"><b>License:</b> {{ active.license_key }}</li>
        <li class="list-group-item"><b>Email:</b> {{ active.email }}</li>
        <li class="list-group-item"><b>Order Number:</b> {{ active.order_number }}</li>
        <li class="list-group-item"><b>Country:</b> {{ active.country }}</li>
<!--        <li class="list-group-item"><b>Last Seen:</b> {{ moment(active.last_seen).fromNow() }}</li>-->
    </ul>
    {% endfor %}
</div>

{% endblock %}