{% extends 'base.html' %}

{% block title %}Currently Active Firestone Idle Bots{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}

{% block page_title %}
Registered Bots
{% endblock %}

{% block page_lead %}
A list of all bots that have been activated and come online.
{% endblock %}

{% block content %}
{% for key in active %}
<ul class="list-group">
    <li class="list-group-item list-group-item-success">
        <span class="badge badge-success">Online</span><br><span class="badge badge-secondary">{{ moment(key.last_seen).fromNow() }}</span>
    </li>
    <li class="list-group-item"><b>License:</b> {{ key.license_key }}</li>
    <li class="list-group-item"><b>Email:</b> {{ key.email }}</li>
    <li class="list-group-item"><b>Order Number:</b> {{ key.order_number }}</li>
    <li class="list-group-item"><b>Country:</b> {{ key.country }}</li>
    <li class="list-group-item"><b>Current IP:</b> {{ key.current_ip }}</li>
    <li class="list-group-item"><b>Used IPs:</b> {{ key.all_ips }}</li>
    <!--        <li class="list-group-item"><b>Last Seen:</b> {{ moment(key.last_seen).fromNow() }}</li>-->
</ul>
<p></p>
{% endfor %}
{% for key in inactive %}
<ul class="list-group">
    <li class="list-group-item list-group-item-danger">
        <span class="badge badge-danger">Offline</span><br><span class="badge badge-secondary">{{ moment(key.last_seen).fromNow() }}</span>
    </li>
    <li class="list-group-item"><b>License:</b> {{ key.license_key }}</li>
    <li class="list-group-item"><b>Email:</b> {{ key.email }}</li>
    <li class="list-group-item"><b>Order Number:</b> {{ key.order_number }}</li>
    <li class="list-group-item"><b>Country:</b> {{ key.country }}</li>
    <li class="list-group-item"><b>Current IP:</b> {{ key.current_ip }}</li>
    <li class="list-group-item"><b>Used IPs:</b> {{ key.all_ips }}</li>
</ul>
<p></p>
{% endfor %}
{% endblock %}